body {
    margin: 0;
    padding: 0;
    background-image: url("");
    background-color: #99daee;
    background-image: url("ciel3.jpg");
    background-size: cover;
  }
  .tales {
    width: 10%;
    height: 20px;
  }
{
    height:10%;
    width: 10%;
}
  /*background-image*/
.bg{
    background-image:url("http://www.aeroclub-valence.com/images/00-index/background/ciel-06.jpg")
   }
  /* Style the footer */
  footer {
    background-color:#7fd2d8;
    padding: 10px;
    text-align: center;
    position:absolute;
    bottom: 1000;
    left: 0;
    width: 100%;
    text-decoration: none;
  }
  
  /* Style the footer text */
  a{
    text-decoration: none;
    color: rgb(88, 81, 179);
  }

  .carousel-inner {
    width: 1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-item {
    width: 80%;
    height:80%;
    position: absolute;
    transition: transform 1s ease;
  }